@media screen and (min-width: $screen-md-min) {
	ul#inv-menu {
		display: inline-block;
		float: right;
		text-align: right;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		background-color: $menu-background-color;
		&.left {
			left: auto;
			right: auto;
		}
		background: none;
		width: auto;
		overflow: visible;
	
		li {
			display: inline-block;
			width: auto;
			border: 0;
			
			a {
				margin: 0;
				padding: 0 20px;
				line-height: $menu-item-line-height;
				font-size: $menu-item-font-size;
				text-align: center;	
				color: $menu-item-color;
				background-color: $menu-item-background-color;
				border: 0;			
			}
		
			ul {
				display: none;
				/*
				opacity: 0.3;
				filter: opacity(30%);
				transition-property: opacity, filter;
				transition-duration: $hamburger-hover-transition-duration;
				transition-timing-function: $hamburger-hover-transition-timing-function;
				*/
			}
		
			&:hover ,
			&.menu-show {
			
				color: $menu-item-hover-color;
				background-color: $menu-item-hover-background-color;
				
				a {
					color: $menu-item-hover-color;
					background-color: $menu-item-hover-background-color;
				}
				
				ul {
					display: block;
					background-color: $menu-item-hover-background-color;
					position: absolute;
					top: $menu-item-line-height;
					width: $header-submenu-width;
					padding: 0;
					margin: 0;
					text-align: left;
					/*
					opacity: 1;
					filter: opacity(100%);
					*/
					
					li {
						text-align: left;
						width: $header-submenu-width;
						padding: 0;
						margin: 0;
						display: block;
						float: left;
						position: relative;
						line-height: 1em;
						
						a {
							font-size: 14px;
							display: block;
							width: auto;
							padding: 10px;
							margin: 0;
							width: $header-submenu-width;
							border: 0;
							-webkit-transition-property: background;
							transition-property: background;
							-webkit-transition-duration: 0.3s;
							transition-duration: 0.3s;	
							overflow: hidden;
							text-overflow: ellipsis;
							text-align: left;
							
							&:hover ,
							&:focus ,
							&:active {
								color: $submenu-item-hover-color;
								background-color: $submenu-item-hover-background-color;
							}
							
						}
				
					}
				}
			}
			
		}
	
	}
}